.card {
    padding: 20px 15px;
    box-shadow: 2px 0px 18px 5px rgba(92,92,92,0.58);
   -webkit-box-shadow: 2px 0px 18px 5px rgba(92,92,92,0.58);
    -moz-box-shadow: 2px 0px 18px 5px rgba(92,92,92,0.58);
    width: 27%;
}